body {
  background-color: rgb(240, 231, 218);
}

header{
  background-color: steelblue;
  padding: 2rem;
  border-bottom: 4px solid black;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 1rem;
}

main .card {
  width: 18rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: steelblue;
  border-top: 4px solid black;
}